# Enable debug mode, important to have this false in production for security
NEXT_PUBLIC_DEBUG=true

# The API URL for both the client and the Next.js server to communicate with the backend
# Note the lack of a trailing slash
NEXT_PUBLIC_API_URL=https://example.com

# The domain for cookies to be extended on. This is for the temporary fix implemented in
# middleware.ts, and it MUST be the same as COOKIE_DOMAIN in the backend .env file. This
# is not needed for development, since it's not used when NEXT_PUBLIC_DEBUG is true.
COOKIE_DOMAIN=.example.com
