# Enable debug mode, important to have this false in production for security
NEXT_PUBLIC_DEBUG=true

# The API URL for both the client and the Next.js server to communicate with the backend
# Note the lack of a trailing slash
NEXT_PUBLIC_API_URL=https://example.com

# The URL for the feedback form
NEXT_PUBLIC_FEEDBACK_FORM_URL=https://forms.example.com/feedback

# Secret key for authorization into the email template renderer
# Must be the same as the one in the backend .env file
# Can be left as a placeholder for development
EMAIL_BRIDGE_SECRET=secret
