@import "tailwindcss";
@import "react-day-picker/style.css";

@import "./tailwind.css";
@import "./text.css";
@import "./frosted-glass.css";
@import "./month-calendar.css";
@import "./centered-absolute.css";
@import "./radix.css";
@import "./scrollbar.css";
@import "./header.css";

/* GLOBAL STYLES */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
}

.vaul-resizing [data-vaul-drawer] {
  transition: none !important;
}
