/* MONTH CALENDAR STYLES */

.rdp-root {
  --rdp-accent-color: var(--calendar-accent);
  --rdp-accent-background-color: var(--calendar-accent-background);
  --rdp-enabling-color: color-mix(
    in srgb,
    var(--calendar-accent) 30%,
    transparent
  );
  --rdp-disabling-color: color-mix(
    in srgb,
    var(--calendar-accent) 40%,
    transparent
  );
  --rdp-disabled-opacity: 0.4;
}

.rdp-months {
  display: flex;
  justify-content: center;
}

.rdp-caption_label {
  padding-left: 12px;
}

/* expands the hitbox of the day buttons to the entire cell and
 * lets pseudoelement (::before) handle the styling on top of the button
 */
.rdp-day_button {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none !important;
  background: transparent;
  position: relative;
  opacity: 0.75;
  z-index: 0;
}

.rdp-day_button::before {
  content: "";
  position: absolute;
  inset: 0px;
  border-radius: 100%;
  z-index: -1; /* place behind the date text */

  background-color: transparent;
  border: 1px solid transparent;
}

.rdp-selected > .rdp-day_button::before {
  border-radius: 0;
  background-color: var(--rdp-accent-background-color);
}

.rdp-drag_enabling > .rdp-day_button::before {
  border-radius: 0;
  background-color: var(--rdp-enabling-color);
}

.rdp-drag_disabling > .rdp-day_button::before {
  border-radius: 0;
  background-color: var(--rdp-disabling-color);
}

.rdp-selected > .rdp-day_button {
  opacity: 1;
}

.rdp-group_start > .rdp-day_button::before {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.rdp-group_end > .rdp-day_button::before {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.rdp-disabled {
  pointer-events: none;
}

/**
 * HOVER RULES
 * only apply on non-touch devices so to ensure this, we
 * wrap it inside this query
 */
@media (hover: hover) {
  .rdp-hovered:hover > .rdp-day_button::before {
    background-color: var(--rdp-enabling-color);
  }

  .rdp-hovered.rdp-selected:hover > .rdp-day_button::before {
    background-color: var(--rdp-disabling-color);
  }
}
