@custom-variant dark (&:where(.dark, .dark *));

/* COLOR PALETTE */
@theme {
  --color-white: oklch(0.9702 0 0);
  --color-black: oklch(0 0 0);
  --color-violet: oklch(0.368 0.0393 288.29);
  --color-bone: oklch(0.904 0.0293 82.59);
  --color-red: oklch(60.3% 0.1584 15.03);
  --color-blue: oklch(0.54 0.0951 247.39);
  --color-lion: oklch(0.8045 0.0779 73.42);

  --color-violet-100: oklch(0.9568 0.0041 301.42);
  --color-violet-200: oklch(0.8583 0.0137 290.71);
  --color-violet-300: oklch(0.7358 0.0258 290.86);
  --color-violet-400: oklch(0.6137 0.0375 288.91);
  --color-violet-500: oklch(0.4915 0.0461 287.73);
  --color-violet-600: oklch(0.368 0.0393 288.29);
  --color-violet-700: oklch(0.2428 0.0265 287.52);

  --color-bone-100: oklch(0.904 0.0293 82.59);
  --color-bone-200: oklch(0.7811 0.0391 82.99);
  --color-bone-300: oklch(0.6571 0.0328 83.59);
  --color-bone-400: oklch(0.5349 0.0266 82.03);
  --color-bone-500: oklch(0.4113 0.0209 84.56);
  --color-bone-600: oklch(0.2869 0.0137 81.69);
  --color-bone-700: oklch(0.1785 0.0086 84.57);

  --color-red-100: oklch(90.4% 0.0429 15.03);
  --color-red-200: oklch(78.5% 0.1315 15.03);
  --color-red-300: oklch(60.3% 0.1584 15.03);
  --color-red-400: oklch(44.9% 0.0958 15.03);
  --color-red-500: oklch(33.2% 0.0828 15.03);
  --color-red-600: oklch(25.2% 0.05 15.03);
  --color-red-700: oklch(20.5% 0.0142 15.03);

  --color-blue-100: oklch(0.911 0.033 256.76);
  --color-blue-200: oklch(0.7858 0.0852 252.63);
  --color-blue-300: oklch(0.6638 0.1168 247.31);
  --color-blue-400: oklch(0.54 0.0951 247.39);
  --color-blue-500: oklch(0.4159 0.0737 247.64);
  --color-blue-600: oklch(0.2933 0.0525 248.23);
  --color-blue-700: oklch(0.1768 0.0317 246.64);

  --color-lion-100: oklch(0.9523 0.0135 53.35);
  --color-lion-200: oklch(0.8323 0.0604 57.73);
  --color-lion-300: oklch(0.7103 0.0803 60.22);
  --color-lion-400: oklch(0.5868 0.0663 59.49);
  --color-lion-500: oklch(0.4619 0.0522 61.59);
  --color-lion-600: oklch(0.3382 0.038 61.11);
  --color-lion-700: oklch(0.2158 0.0243 60.3);

  --color-gray-100: oklch(0.9709 0.0011 17.18);
  --color-gray-200: oklch(0.8492 0.0055 17.27);
  --color-gray-300: oklch(0.7257 0.014 17.48);
  --color-gray-400: oklch(0.6034 0.0273 17.93);
  --color-gray-500: oklch(0.4808 0.0223 17.96);
  --color-gray-600: oklch(0.3573 0.017 17.98);
  --color-gray-700: oklch(0.2347 0.011 17.96);
}

/* OTHER VARIABLES */

@layer base {
  :root {
    --background: var(--color-white);
    --foreground: var(--color-violet);
    --accent: var(--color-blue);
    --accent-text: var(--color-blue-500);
    --panel-color: oklch(1 0 0);
    --loading-color: var(--color-gray-200);
  }

  .dark {
    --background: var(--color-violet);
    --foreground: var(--color-bone);
    --accent: var(--color-red);
    --accent-text: var(--color-red-100);
    --panel-color: oklch(0.3295 0.0403 287.95);
    --loading-color: oklch(0.3295 0.0403 287.95);
  }
}

@theme {
  /* HELPER COLORS */
  --color-error: oklch(60.1% 0.2133 29.08);

  /* DYNAMIC COLORS */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-text: var(--accent-text);
  --color-panel: var(--panel-color);
  --color-loading: var(--loading-color);

  /* CALENDAR COLORS */
  --calendar-accent: var(--color-accent);
  --calendar-accent-background: color-mix(
    in srgb,
    var(--color-accent) 20%,
    transparent
  );

  /* FONTS */
  --font-modak: var(--font-modak);
  --font-nunito: var(--font-nunito);

  /* STROKES */
  --text-stroke-white: var(--text-stroke-white);
  --text-stroke-violet: var(--text-stroke-violet);
  --text-stroke-bone: var(--text-stroke-bone);
  --text-stroke-blue: var(--text-stroke-blue);
  --text-stroke-red: var(--text-stroke-red);
  --text-stroke-lion: var(--text-stroke-lion);

  /* ANIMATIONS */
  --animate-slideUpAndFade: slideUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideRightAndFade: slideRightAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideDownAndFade: slideDownAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideLeftAndFade: slideLeftAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);

  --animate-slideUpAndFadeOut: slideUpAndFadeOut 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideRightAndFadeOut: slideRightAndFadeOut 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideDownAndFadeOut: slideDownAndFadeOut 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideLeftAndFadeOut: slideLeftAndFadeOut 400ms
    cubic-bezier(0.16, 1, 0.3, 1);

  --animate-slideUp: slideUp 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideDown: slideDown 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-hide: hide 100ms ease-in;
  --animate-slideIn: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slideOut: slideOut 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-swipeOut: swipeOut 100ms ease-out;

  @keyframes hide {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(calc(100% + var(--viewport-padding)));
    }
  }

  @keyframes swipeOut {
    0% {
      transform: translateX(var(--radix-toast-swipe-end-x));
    }

    100% {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }
  }

  @keyframes slideUpAndFade {
    0% {
      opacity: 0;
      transform: translateY(2px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideRightAndFade {
    0% {
      opacity: 0;
      transform: translateX(-2px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideDownAndFade {
    0% {
      opacity: 0;
      transform: translateY(-2px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideLeftAndFade {
    0% {
      opacity: 0;
      transform: translateX(2px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideUpAndFadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(-2px);
    }
  }

  @keyframes slideRightAndFadeOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }

    100% {
      opacity: 0;
      transform: translateX(2px);
    }
  }

  @keyframes slideDownAndFadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0;
      transform: translateY(2px);
    }
  }

  @keyframes slideLeftAndFadeOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }

    100% {
      opacity: 0;
      transform: translateX(-2px);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(100%);
    }
  }

  /* Faster duration, much smaller degree */
  --animate-wiggle: wiggle 0.35s linear infinite;

  @keyframes wiggle {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(1px, 1px) rotate(2deg);
    }
    50% {
      transform: translate(0, 0) rotate(0deg);
    }
    75% {
      transform: translate(-1px, 1px) rotate(-2deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }
}
